[Unit]
Description=Git Daemon

[Service]
ExecStart=/usr/bin/git daemon --reuseaddr --base-path=/srv/git/ /srv/git/

User=git
Group=git

[Install]
WantedBy=multi-user.target
