network:
  version: 2
  ethernets:
    id0:
      # Matches any Ethernet interface found on PCI bus
      match:
        name: en*

      dhcp4: false
      addresses: [ ${ ip_and_prefix } ]
      gateway4: ${ gateway }

      nameservers:
        search: [ ${ domain } ]
        addresses: [ ${ dns_server } ]
