#cloud-config
hostname: [% hostname %]
fqdn: [% hostname %].${domain}

timezone: "Europe/London"

users:
  - name: root
    ssh_authorized_keys:
      %{ for key in admin_ssh_keys ~}
      - ${ key }
      %{ endfor ~}

bootcmd:
  # Set proxy to be used by APT (including chroots)
  - for f in / /srv/chroot/*/
  - do
  -   echo 'Acquire::http::Proxy "${http_proxy_url}";' > "$f/etc/apt/apt.conf.d/proxy.conf"
  -   echo 'Acquire::https::Proxy "${http_proxy_url}";' >> "$f/etc/apt/apt.conf.d/proxy.conf"
  - done

  # Set proxy to be used by buildkite agent
  - mkdir /etc/systemd/system/buildkite-agent.service.d
  - cat > /etc/systemd/system/buildkite-agent.service.d/proxy.conf <<EOF
  - "[Service]"
  - Environment=http_proxy=${http_proxy_url}
  - Environment=https_proxy=${http_proxy_url}
  - EOF
  - systemctl daemon-reload

  # Inject Buildkite agent token
  - sed -i -e 's/BUILDKITE_AGENT_TOKEN/${buildkite_agent_token}/g' /etc/buildkite-agent/buildkite-agent.cfg

  # Install SSL certificates/keys used by stunnel.

  - cat > /etc/ssl/certs/ccache-cache.build.solemnwarning.net.crt <<'EOF'
  - |
      ${ indent(6, ccache_cache_https_cert) }
  - EOF

  - cat > /etc/stunnel/ccache-cache.client.crt <<'EOF'
  - |
      ${ indent(6, ccache_cache_client_cert) }
  - EOF

  - umask 077
  - cat > /etc/stunnel/ccache-cache.client.key <<'EOF'
  - |
      ${ indent(6, ccache_cache_client_key) }
  - EOF

  - if systemctl is-active stunnel4.service --quiet || systemctl is-failed stunnel4.service --quiet
  - then
  -   systemctl restart stunnel4.service
  - fi

runcmd:
  # Force DHCP release so our (new) hostname gets inserted into DNS
  # https://serverfault.com/a/970459
  - systemctl restart systemd-networkd

  # Install buildkite user's SSH key

  - mkdir -p ~buildkite-agent/.ssh/
  - chown buildkite-agent:buildkite-agent ~buildkite-agent/.ssh/

  - cat > ~buildkite-agent/.ssh/id_rsa <<'EOF'
  - ${ replace(buildkite_user_ssh_key.private_key_openssh, "\n", "\n  - ") }
  - EOF

  - chown buildkite-agent:buildkite-agent ~buildkite-agent/.ssh/id_rsa
  - chmod 0600 ~buildkite-agent/.ssh/id_rsa
