#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.${domain}

buildkite-agent-token: ${buildkite_agent_token}
buildkite-agent-spawn: 1

http-proxy:  ${http_proxy_url}
https-proxy: ${http_proxy_url}
