#cloud-config
hostname: [% hostname %]
fqdn: [% hostname %].${domain}

timezone: "Europe/London"

users:
  - name: root
    lock_passwd: false
    hashed_passwd: ${root_password.bcrypt_hash}
    ssh_authorized_keys:
      %{ for key in admin_ssh_keys ~}
      - ${ key }
      %{ endfor ~}

bootcmd:
  - cat > /var/run/buildkite-agent.env <<'EOF'
  - BUILDKITE_AGENT_DISCONNECT_AFTER_IDLE_TIMEOUT=300
  - http_proxy=${http_proxy_url}
  - https_proxy=${http_proxy_url}
  - HTTP_PROXY=${http_proxy_url}
  - HTTPS_PROXY=${http_proxy_url}
  - EOF

  - umask 0077
  - cat > /etc/rc.conf.d/buildkite <<'EOF'
  - buildkite_token=${buildkite_agent_token}
  - buildkite_env_file=/var/run/buildkite-agent.env
  - EOF

runcmd:
  # Force DHCP release so our (new) hostname gets inserted into DNS.
  - /etc/rc.d/dhclient restart vtnet0
