#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.${domain}

timezone: "Europe/London"

users:
  - name: root
    lock_passwd: false
    hashed_passwd: ${root_password.bcrypt_hash}
    ssh_authorized_keys:
      %{ for key in admin_ssh_keys ~}
      - ${ key }
      %{ endfor ~}

ssh_keys:
  ecdsa_private: |
    ${ indent(4, ssh_host_ecdsa.private_key_pem) }
  ed25519_private: |
    ${ indent(4, ssh_host_ed25519.private_key_openssh) }
  rsa_private: |
    ${ indent(4, ssh_host_rsa.private_key_pem) }

ssh_genkeytypes: [rsa, ecdsa, ed25519]
ssh_quiet_keygen: true
ssh_publish_hostkeys:
  enabled: true
  blacklist: [dsa]

bootcmd:
  # Inject HTTP proxy into the buildkite-agent environment
  - cat > /usr/local/bin/buildkite-agent-wrapper <<'EOF'
  - #!/bin/sh
  - export http_proxy=${http_proxy_url}
  - export https_proxy=${http_proxy_url}
  - buildkite-agent "$@"
  - exit $?
  - EOF
  - chmod 0755 /usr/local/bin/buildkite-agent-wrapper
  - sed -i -e 's/buildkite-agent start/buildkite-agent-wrapper start/g' /usr/local/etc/rc.d/buildkite-agent

  # Inject Buildkite agent token
  - sed -i -e 's/BUILDKITE_AGENT_TOKEN/${buildkite_agent_token}/g' /usr/local/etc/buildkite-agent/buildkite-agent.cfg

runcmd:
  # Force DHCP release so our (new) hostname gets inserted into DNS.
  - /etc/rc.d/dhclient restart vtnet0
