# HTTP proxy server (optional).
# http_proxy_url = "http://cache.lan.solemnwarning.net:8080/"

# SSH public keys for administration (root login).
admin_ssh_keys = [
  "ssh-rsa ...",
  "ssh-rsa ...",
]
