# HTTP proxy server (optional).
# http_proxy_url = "http://cache.lan.solemnwarning.net:8080/"

# Buildkite agent token (for all build agents).
buildkite_agent_token = "..."

# SSH public keys for administration (root login).
admin_ssh_keys = [
  "ssh-rsa ...",
  "ssh-rsa ...",
]

# Name of admin user to create on macOS build agents.
macos_admin_username = "..."

# Fedora COPR credentials
copr_config = <<-EOT
[copr-cli]
login = ...
username = ...
token = ...
copr_url = https://copr.fedorainfracloud.org
EOT
